@model IdentityMicroService.Domain.Entities.Models.AuthorizationDTO.UserModelForAuthorizationDTO

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
    $(document).ready(function () 
    {
        $('#SubmitButton').attr('disabled', true);

        $(this).keyup(function () 
        {
            var NameLen = $('#Email').val().length;
            var PassLen = $('#Password').val().length;
            if ((NameLen > 0) && (PassLen > 0)) {
                $('#SubmitButton').attr('disabled', false);
            }
            else 
            {
                $('#SubmitButton').attr('disabled', true);
            }
        })
    });
</script>

<h1>LOGIN</h1>

<form asp-controller="Auth" asp-action="Login" method="post" id="LoginForm">
    <div asp-validation-summary="All"></div>

    <input hidden asp-for="returnUrl" />
    <div>
        <label asp-for="email">Email</label>
        <input asp-for="email" required id="Email">
        <span asp-validation-for="email"></span>
    </div>
    <div>
        <label asp-for="password">Password</label>
        <input type="password" asp-for="password" required id="Password">
        <span asp-validation-for="password"></span>
    </div>

    <p>
        <button type="submit" id="SubmitButton">Login</button>
        <a href="/Auth/SingUp?returnUrl=@Html.ValueFor(m=>m.returnUrl)">
            <button type="button">Sing Up</button>
        </a>
    </p>
</form>