@model IdentityMicroService.Domain.Entities.Models.AuthorizationDTO.RegistrationUserDTO

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
    $(document).ready(function () 
    {
        $('#SubmitButton').attr('disabled', true);

        $(this).keyup(function () 
        {
            var NameLen = $('#Email').val().length;
            var PassLen = $('#Password').val().length;
            var ConfPassLen = $('#ConfirmPassword').val().length;
            if ((NameLen > 0) && (PassLen > 0) && (ConfPassLen > 0)) {
                $('#SubmitButton').attr('disabled', false);
            }
            else 
            {
                $('#SubmitButton').attr('disabled', true);
            }
        })
    });
</script>
<style>
    .error {
        border-color: red;
        border-width: 3px;
    }
</style>

<h1>Sing Up</h1>

<form asp-controller="Auth" asp-action="SingUp" method="post">
    <div asp-validation-summary="All"></div>

    <input hidden asp-for="returnUrl" />
    <div>
        <label asp-for="email">Email</label>
        <input asp-for="email" required id="Email">
        <span asp-validation-for="email"></span>
    </div>
    <div>
        <label asp-for="password">Password</label>
        <input type="password" asp-for="password" required id="Password">
        <span asp-validation-for="password"></span>
    </div>
    <div>
        <label asp-for="confirmPassword">Confirm Password</label>
        <input type="password" asp-for="confirmPassword" required id="ConfirmPassword">
        <span asp-validation-for="confirmPassword"></span>
    </div>

    <p>
        <button type="submit" id="SubmitButton">Sing Up</button>
        <a href="/Auth/Login?returnUrl=@Html.ValueFor(m=>m.returnUrl)">
            <button type="button">Login</button>
        </a>
    </p>
</form>